<launch>

  <arg name="camera"    default="camera" />
  <arg name="device_id" default="#1" />
  <arg name="filters" default="true" />

  <include file="$(find openni_launch)/launch/openni.launch">
    <arg name="camera" value="$(arg camera)" />
    <arg name="device_id" value="$(arg device_id)" />
    <param name="$/(arg camera)/driver/image_mode" value="5" />
    <param name="$/(arg camera)/driver/depth_mode" value="5" />
    <param name="$/(arg camera)/driver/data_skip"  value="1" />
  </include>


  <!-- TODO Calibrated transform is given in info/kinect_params.yaml -->
  <node pkg="tf" type="static_transform_publisher" name="world_to_$(arg camera)" 
    args="0 0 0.6 3.141592 0.436 0 /world /$(arg camera)_link 60" /> 
  <!--  args="0 0.4 0.6 -0.5 0 0 /world   /$(arg camera)_link 60" /> -->


  <node ns="$(arg camera)/aux" pkg="kinect_aux" type="kinect_aux_node" name="$(arg camera)_aux_node" />

  <include if="$(arg filters)" file="$(find hviz)/launch/kinect_filters.launch" >
    <arg name="camera" value="$(arg camera)" />
  </include>

  <node name="$(anon foo)" pkg="dynamic_reconfigure" type="dynparam"
    args="set /$(arg camera)/driver/ '{'image_mode': 5, 'depth_mode': 5, 'data_skip': 1}'"/>

</launch>
